* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.btn {
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  background: #333;
}
